<div>
  <h2 id="page-heading" data-cy="LigneFactureHeading">
    <span jhiTranslate="invoiceApp.ligneFacture.home.title">LigneFactures</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="invoiceApp.ligneFacture.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ligne-facture-facturation"
        [routerLink]="['/ligne-facture-facturation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="invoiceApp.ligneFacture.home.createLabel">Créer un nouveau Ligne Facture</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (ligneFactures().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="invoiceApp.ligneFacture.home.notFound">Aucun Ligne Facture trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="invoiceApp.ligneFacture.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantite">
              <div class="d-flex">
                <span jhiTranslate="invoiceApp.ligneFacture.quantite">Quantite</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prixUnitaireHT">
              <div class="d-flex">
                <span jhiTranslate="invoiceApp.ligneFacture.prixUnitaireHT">Prix Unitaire HT</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tauxTVA">
              <div class="d-flex">
                <span jhiTranslate="invoiceApp.ligneFacture.tauxTVA">Taux TVA</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="facture.id">
              <div class="d-flex">
                <span jhiTranslate="invoiceApp.ligneFacture.facture">Facture</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ligneFacture of ligneFactures(); track trackId(ligneFacture)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ligne-facture-facturation', ligneFacture.id, 'view']">{{ ligneFacture.id }}</a>
              </td>
              <td>{{ ligneFacture.description }}</td>
              <td>{{ ligneFacture.quantite }}</td>
              <td>{{ ligneFacture.prixUnitaireHT }}</td>
              <td>{{ ligneFacture.tauxTVA }}</td>
              <td>
                @if (ligneFacture.facture) {
                  <div>
                    <a [routerLink]="['/facture-facturation', ligneFacture.facture.id, 'view']">{{ ligneFacture.facture.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/ligne-facture-facturation', ligneFacture.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/ligne-facture-facturation', ligneFacture.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(ligneFacture)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
