<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-facture-facturation-heading"
        data-cy="FactureCreateUpdateHeading"
        jhiTranslate="invoiceApp.facture.home.createOrEditLabel"
      >
        Créer ou éditer un Facture
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="invoiceApp.facture.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let numeroRef = editForm.get('numero')!;
        <div class="mb-3">
          <label class="form-label" for="field_numero" jhiTranslate="invoiceApp.facture.numero">Numero</label>
          <input type="text" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
          @if (numeroRef.invalid && (numeroRef.dirty || numeroRef.touched)) {
            <div>
              @if (editForm.get('numero')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let dateFactureRef = editForm.get('dateFacture')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateFacture" jhiTranslate="invoiceApp.facture.dateFacture">Date Facture</label>
          <div class="d-flex">
            <input
              id="field_dateFacture"
              data-cy="dateFacture"
              type="datetime-local"
              class="form-control"
              name="dateFacture"
              formControlName="dateFacture"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateFactureRef.invalid && (dateFactureRef.dirty || dateFactureRef.touched)) {
            <div>
              @if (editForm.get('dateFacture')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('dateFacture')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateEcheance" jhiTranslate="invoiceApp.facture.dateEcheance">Date Echeance</label>
          <div class="d-flex">
            <input
              id="field_dateEcheance"
              data-cy="dateEcheance"
              type="datetime-local"
              class="form-control"
              name="dateEcheance"
              formControlName="dateEcheance"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let statutRef = editForm.get('statut')!;
        <div class="mb-3">
          <label class="form-label" for="field_statut" jhiTranslate="invoiceApp.facture.statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'invoiceApp.FactureStatut.null' | translate }}</option>
            @for (factureStatut of factureStatutValues; track $index) {
              <option [value]="factureStatut">{{ 'invoiceApp.FactureStatut.' + factureStatut | translate }}</option>
            }
          </select>
          @if (statutRef.invalid && (statutRef.dirty || statutRef.touched)) {
            <div>
              @if (editForm.get('statut')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="invoiceApp.facture.notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_client" jhiTranslate="invoiceApp.facture.client">Client</label>
          <select
            class="form-control"
            id="field_client"
            data-cy="client"
            name="client"
            formControlName="client"
            [compareWith]="compareClientFacturation"
          >
            <option [ngValue]="null"></option>
            @for (clientOption of clientsSharedCollection; track $index) {
              <option [ngValue]="clientOption">{{ clientOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
